<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DialogViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEC81F221BD7B190007EC91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC81F361BD7B190007EC91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEC81F411BD7B190007EC91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
